@import "fonts";

// You can modify the theme directly, or override some of the variables
// Overrides just need placed prior to the theme import
// For example:
// $color-primary: #3a0;
@import "theme";
@import "reset";
@import "logomark";
@import "typography";
@import "layout";
@import "header";
@import "nav";
@import "about";
@import "guidelines";
@import "contribute";
@import "files";
@import "styles";
@import "profile";
@import "footer";
@import "links";

body {
  box-shadow: inset 0 0 50px rgba(0, 191, 255, 0.1);  // Subtle blue arcade glow
}