/* Error: Undefined variable.
 *    ,
 * 79 |   @return "%23" + str-slice("#{color($color)}", 2, -1);
 *    |                                      ^^^^^^
 *    '
 *   sass\global\_theme.scss 79:38  @import
 *   sass\style.scss 4:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a    \2577 \a 79 \2502    @return "%23" + str-slice("#{color($color)}", 2, -1);\a    \2502                                       ^^^^^^\a    \2575 \a   sass\\global\\_theme.scss 79:38  @import\a   sass\\style.scss 4:9            root stylesheet';
}
