/* Error: Undefined mixin.
 *   ,
 * 5 |   @include neon-glow(var(--neon-pink), 15px);
 *   |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\blocks\_about.scss 5:3  @import
 *   sass\style.scss 12:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 5 \2502    @include neon-glow(var(--neon-pink), 15px);\a   \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\blocks\\_about.scss 5:3  @import\a   sass\\style.scss 12:9         root stylesheet";
}
