// blocks/_nav.scss
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

nav a {
  background: $neon-blue;
  color: $arcade-bg;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 5px $neon-blue;
  transition: box-shadow 0.3s;
}

nav a:hover {
  box-shadow: 0 0 15px $neon-pink;
}
































/*nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-grid;
      padding: 0.5rem;
      color: var(--color-secondary);
      font-size: 1.25rem;
      text-decoration: none;

      &::before {
        width: 100%;
        height: 0.33em;
        background-color: var(--color-secondary);
        opacity: 0.15;
        content: "";
      }

      &:hover::before,
      &:focus::before {
        opacity: 1;
      }
    }

    li {
      margin: 0.25rem;
    }
  }
}
*/